<h1><%= @user.email %>'s Cart</h1>
<% if @cart_items.present? %>
<table>
  <tr>
    <th>Item Name</th>
    <th>Size</th>
    <th>Price</th>
    <th></th>
  </tr>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item_size.item.item_name %></td>
        <td><%= cart_item.item_size.size.size_name %></td>
        <td>$<%= cart_item.item_size.item.price %></td>
        <td><%= button_to 'Delete Item', cart_item,
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <%end%>
    <tr>
      <td><strong>Grand Total:</strong> $<%= @cart.total_price.round(2)%></td>
    </tr>
    <% if @cart.paid %>
      <p>You already bought this! Reach out to customer support for fulfillment instructions</p>
    <% else %>
      <tr>
        <%= link_to 'Checkout', new_cart_order_path(@cart) %>
      </tr>      
    <% end %>
</table>
<% else %>
  <h1> Cart is empty, shop for items now!</h1>
<%end %>